# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
